*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*variables*/
:root {
    --primary-color: #282828;
}

body{
    font-family: "Jost", sans-serif;
    background-color: var(--primary-color);
}

.container{
    width: 1300px;
    padding: 0 0.5rem 0 0.5rem;
    margin: 0 auto;
}

/*header*/
.header{}
.header_content{}
.header_top{}
.header_phone{}
.number{}
.callback{}
.header_logo{}
.header_callback{}
.header_menu{}
.header_menu a{}