*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*variables*/
:root {
    --primary-color: #282828;
    --accent-color: #F4903E;
    --white: #FFFFFF;
    --text-gray: #949191;
    --light-gray: #FAF2F2;
    --radius_5: 5px;

    --fz-16: 16px;
}

body{
    font-family: "Jost", sans-serif;
    background-color: var(--primary-color);
    font-size: 16px;

}
body a{
    color: var(--white);
}

.container {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
    height: 100%;
}
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}

/* CONSTANTS */

.light-gray{
    color: var(--light-gray) !important;
}
.main-text{
    color: var(--white);
    font-size: 16px;
}

.h1{
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 60px;
    color: var(--white);
}
.h2{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 110%;
    color: var(--white);
}
.h3{
    font-size: 24px;
    color: var(--white);
    font-weight: 300;

}

.h3_link{
    font-size: 24px;
    font-weight: 300;
    text-decoration: underline;
    cursor: pointer;
    transition: all 0.2s ease-in;
}
.h3_link:hover{
    color: var(--accent-color);
}
.h3-bold{
    font-size: 24px;
    font-weight: 400;
    line-height: 100%;
    color: var(--white);
}
.text-link{
    font-size: 16px;
    font-weight: 400;
    line-height: 110%;
    text-decoration:  underline;
    color: var(--white);
    cursor: pointer;
    transition: color 0.2s ease-in;
}
.text-link:hover{
    color: var(--accent-color);
}

.accent-color{
    color: var(--accent-color);
}

.menu-link{
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;

    display: inline-block;
    position: relative;
}
.menu-link:after{
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    background: var(--accent-color);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.menu-link:hover:after{
    width: 100%;
    left: 0;
}
.menu-link:after.active{
    width: 100%;
    left: 0;
}

.menu-extra{
    font-size: 12px;
    transition: color 0.2s ease-in;
    text-transform: uppercase ;
    color: var(--white);
    cursor: pointer;
    text-decoration: underline;
    text-decoration: underline;
}
.menu-extra:hover{
    color: var(--accent-color);
}

.btn-primary{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 230px;
    height: 56px;
    color: var(--white);
    background-color: var(--accent-color);
    border-radius: var(--radius_5);
    cursor: pointer;
    text-transform: uppercase;
}
.btn-light{

}
.btn-secondary{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 208px;
    height: 39px;
    border-radius: var(--radius_5);
    border: 1px solid var(--white);
    color: var(--white);
    font-size: 1rem;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.2s ease-in;
}
.btn-secondary:hover{
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
}

.mt-1{
    margin-top: 1rem;
}
.mt-2{
    margin-top: 2rem;
}
.mt-3{
    margin-top: 3rem;
}
.ml-2{
    margin-left: 2rem;
}
.flex-1{
    flex: 1;
}
.special-text{
    font-size: 60px;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: 2%;
    color: var(--accent-color);
}
/* CONSTANTS END */

/*header*/
.header{
    padding-top: 20px;
    background-color: transparent;
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 200;
}
.header_content{}
.header_top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.burger{
    display: none;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    position: relative;
}
.burger span{
    display: block;
    width: 20px;
    height: 2px;
    background-color: var(--accent-color);
    transition: all 0.2s ease-in;

}
.burger span:before{
    content: "";
    display: block;
    width: 16px;
    height: 2px;
    background-color: var(--accent-color);
    position: absolute;
    top: 0;
    z-index: 700;
}
.burger span:after{
    content: "";
    display: block;
    width: 16px;
    height: 2px;
    background-color: var(--accent-color);
    position: absolute;
    bottom: 0;
    z-index: 700;
}
.burger.active span{
    background-color: transparent;
}
.burger.active span:before{
    transform: rotate(-45deg);
    top: 4px;
}
.burger.active span:after{
    transform: rotate(45deg);
    bottom: 4px;
}
.mobile-call{
    display: none;
}
.header_phone{
    display: flex;
    flex-direction: column;
}
.number{}
.callback{}
.header_logo{}
.header_callback{}
.header_menu{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    margin-top: 1rem;
    padding: 0.5rem 2rem;
    transition: background-color 0.2s ease-in;
    border-radius: var(--radius_5);
}
.header_menu:hover{

    background-color: var(--primary-color);

}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
.mobile-block{
    display: none;
}

.header_menu li{
    position: relative;
    list-style: none;
}
.submenu {
    position: absolute;
    top: 100%;
    left: -50%;
    min-width: 250px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: all 0.3s ease;
    text-transform: uppercase;
    z-index: 1500;


}
.submenu-inner{
    margin-top: 1rem;
    background: var(--primary-color);
    padding: 1rem;
    border-radius: var(--radius_5);
    text-align: start;
}
.submenu li {
    margin-bottom: 1rem;
}
.submenu li a{
    text-decoration: none;
}
.submenu li a:hover{
    text-decoration: none;
}
.has-submenu:hover .submenu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
.header_menu a{}



.main-slider{
    height: 100vh;
}
.main-slider_content{
    height: 100%;
}
.swiper-front{
    height: 100%;
}
.swiper-front_wrapper{

}
.swiper-front_slide{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.video-background {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.video-background video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}

.swiper-front_slide_content{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}
.arrow-list{
    margin-top: 1rem;
}
.arrow-list_item{
    list-style: none;
    padding-left: 3rem;
    position: relative;

}
.arrow-list_item:before{
    content: url("../img/svg/tick.png");
    display: block;
    height: 50px;
    width: 50px;
    position: absolute;
    left: 0;
}

.btn_block{
    margin-top: 2rem;
}

/*first*/
.swiper-pagination {
    width: 1300px !important;
    padding: 0 0.5rem 0 0.5rem;
    position: absolute;
    bottom: 10px !important; /* Позиционирование снизу */
    left: 50% !important;
    transform: translateX(-50%);
    text-align: left;
}
/* Неактивная точка */
.swiper-pagination-bullet {
    width: 130px;
    height: 1px;
    background: var(--white); /* Серый цвет для неактивных */
    opacity: 1;
    transition: all 0.3s;
    margin: 0 !important;
}

/* Активная точка */
.swiper-pagination-bullet-active {
    background: var(--accent-color) !important; /* Синий цвет для активной */
}
/*second*/
.swiper-pagination2 {
    width: 1300px !important;
    padding: 0 0.5rem 0 0.5rem;
    position: absolute;
    bottom: 10px !important; /* Позиционирование снизу */
    left: 50% !important;
    transform: translateX(-50%);
    text-align: left;
}
/* Неактивная точка */
.swiper-pagination2-bullet {
    width: 130px;
    height: 1px;
    background: var(--white); /* Серый цвет для неактивных */
    opacity: 1;
    transition: all 0.3s;
    margin: 0 !important;
}

/* Активная точка */
.swiper-pagination2-bullet-active {
    background: var(--accent-color) !important; /* Синий цвет для активной */
}


/* ОТЗЫВЫ */

.experience{
    margin-top: 5rem;
    margin-bottom: 5rem;
    background-color: var(--primary-color);
}
.experience_content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 2rem;
}

.experience_item{
    flex: 1;
    min-height: 800px;
    display: grid;
    grid-template-rows:2fr 3fr;
    grid-gap: 2rem;


}
.experience_item_inner{
    border-radius: var(--radius_5);
    height: auto;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    perspective: 1000px;
    padding: 1rem;

}
.experience_item_inner:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Черный слой с прозрачностью 50% */
    z-index: 1;
}
.experience_item_inner > * {
    position: relative;
    z-index: 2;
}
.flip-card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card {
    background-color: transparent;
    width: 100%;
    height: 100%;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;

}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-size: cover;
    background-position: center;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

}

/* Style the back side */
.flip-card-back {
    background-color: var(--primary-color);
    color: white;
    transform: rotateY(180deg);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.yandex-face{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.yandex-img{}
.yandex-name{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.yandex-name_title{}
.yandex-name_stars{}
.yandex-text{
    text-align: left;
}
.yandex-address{
    display: flex;
    align-self: end;
}

.big{
    grid-template-rows: 3fr 2fr;
}
.yandex-logo{
    width: 150px;
    height: 43px;
}
.avito-logo{
    width: 127.5px;
    height: 34px;
}


/* clients */
.clients{

    /*background-image: linear-gradient(180deg,rgba(40, 40, 40, 1) 0%, rgba(255, 255, 255, 0) 18%, rgba(255, 255, 255, 0) 77%, rgba(40, 40, 40, 1) 100%),
    url('../img/clients-bg.png');*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 3rem 0;
}
.clients_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.clients_right{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 50%;
    grid-gap: 2rem;
}
.clients_right_item{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* benifits */

.advantages{
    width: 100%;
    background-image: linear-gradient(180deg,rgba(40, 40, 40, 1) 0%, rgba(255, 255, 255, 0) 18%, rgba(255, 255, 255, 0) 77%, rgba(40, 40, 40, 1) 100%),
    url('../img/benifits-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 3rem 0;

}
.advantages_content{
    padding: 200px 0 100px 0;
}

.slider {
    overflow-x: hidden;
    position: relative;
    margin-bottom: 300px;
}

.slider-track {
    display: flex;
    align-items: center;
    will-change: transform; /* Оптимизация для анимации */
}

.slide {
    margin-right: 64px;
    flex-shrink: 0;
    width: 280px;
    height: 280px;
    background: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 24px;
    font-weight: bold;
    border-radius: var(--radius_5);
    padding: 1rem;
    text-align: center;
    text-align: center;
}

.portfolio{}
.portfolio_content{}
.portfolio_top{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.portfolio_top_title{
    width: 50%;
}
.portfolio_top_text{
    width: 50%;
}

.portfolio_slider{
    margin-top: 6rem;
    width: 100%;
    height: 375px;
}
.portfolio_slider_slide{
    height: 100%;
    padding-top: 50px;
}
.portfolio_slider_slide.swiper-slide-active{
    padding-top: 0;
}
.portfolio_slider_slide img{
    width: 100%;
    height: 80%;
    object-fit: contain;
    object-position: bottom;
}


.portfolio_slider_wrapper{
    width: 100%;
}


.portfolio_img{
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}
.portfolio_img:hover .portfolio_hover{
    display: block;
}
.portfolio_img:hover .portfolio_first{
    display: none;
}

.portfolio_first{
    display: block;
}


.portfolio_hover{
    display: none;
}


.end{
    margin-top: 600px;
}


/* faq */

.faq{
    background-image: linear-gradient(180deg,rgba(40, 40, 40, 1) 0%, rgba(255, 255, 255, 0) 18%, rgba(255, 255, 255, 0) 77%, rgba(40, 40, 40, 1) 100%),
    url('../img/faq-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
}
.faq_content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}
.faq_block{
    display: flex;
    gap: 4rem;
}
.faq_block_item:hover .faq_block_item_visible{
    display: none;
}
.faq_block_item:hover .faq_block_item_hiden{
    display: flex;
    flex-direction: column;
}
.faq_block_item{
    min-height: 350px;
    width: 360px;
    background-color: var(--primary-color);
    padding: 1rem;
    border-radius: var(--radius_5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.faq_block_item_visible{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.faq_img{
    width: 124px;
    height: 124px;

}
.faq_img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.faq-title{
    color: var(--white);
    font-size: 40px;
    text-align: center;
    line-height: 110%;
}
.faq_block_item_hiden{
    display: none;
}

.faq_menu{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
.faq_menu a{
    font-size: 24px;
    text-decoration: none;
    transition: color 0.2s ease-in;
}
.faq_menu a:hover{
    color: var(--accent-color);
}
.faq_btn{
    margin-top: 2rem;
}


/* footer */

.footer{}
.footer_content{}
.footer_top{
    display: flex;
    align-items: start;
    justify-content: space-between;

}
.footer_top_item{
    display: flex;
    flex-direction: column;
    margin-right: 10%;
}
.footer_top_menu{
    display: flex;
    gap: 5rem;
}
.footer_contacts{
    display: flex;
    flex-direction: column;
}
.footer_phone, .footer_email{
    color: var(--white);
    font-size: 16px;
    font-weight: 400;
    line-height: 110%;
    padding-left: 30px;
    position: relative;
    text-decoration: none;
    margin-bottom: 0.5rem;
}
.footer_phone:before{
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    background-image: url("../img/svg/clock.png");
    background-size: contain;
    background-repeat: no-repeat;

}
.footer_email:before{
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    background-image: url("../img/svg/mail.png");
    background-size: contain;
    background-repeat: no-repeat;

}

.footer_title{
    font-size: 16px;
    color: var(--white);
    font-weight: 400;
    margin-bottom: 0.5rem;
}
.footer_subtitle{
    font-size: 16px;
    color: var(--white);
    font-weight: 300;
    cursor: pointer;
    text-transform: none;
    align-self: baseline;
}

.footer_bottom{
    margin-top: 2rem;
    color: var(--white);
    font-weight: 300;
    margin-bottom: 3rem;
}
.copy{}
.policy{
    text-decoration: none;
    margin-left: 2rem;
}

/* popups */

.cross{
    display: flex;
    justify-content: end;
}
.cross img{
    cursor: pointer;
}
.constructor{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 600;

}
.constructor_outlay{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: rgba(0,0,0, .7);

}
.constructor_content{
    width: 80%;
    background-color: var(--primary-color);
    padding: 3rem;

}

.constructor_form{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.const_big{
    width: 32% ;
}
.select_first{
    display: flex;
    margin-top: 2rem;
}
.select_first:first-child{
    margin-right: 1rem;
}
.select_first_item:first-child{
     margin-right: 3rem;
}
.select_first_item_title{
    margin-bottom: 1rem;
}

.rage_block{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.rage_title{
    color: var(--white);

}
.input_range{
    display: flex;
    margin-left: 1rem;

}
.current-range{
    color: var(--white);
    width: 30px;
    border-bottom: 1px solid var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
input[type="range"] {
    cursor: pointer;
    accent-color: var(--accent-color);
}
input[type="range"]:hover{
    background-color: var(--accent-color);
}


.input_range_number{
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--white);
    text-align: center;
    border-bottom: 1px solid var(--accent-color);
    width: 70px;
    margin-left: 1rem;
}


.const_check label{
    color: var(--white);
}

.select_second{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.select_third{
    margin-top: 2rem;
}
.color_select{
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;
}

.color_select label{
    display: inline-flex;
    width: 50px;
    height: 50px;
    background-color: #fff;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    border: 2px solid transparent;

}
.color_select label:has(> input.active){
    border: 2px solid var(--accent-color);
}
.color_select input{
    visibility: hidden;
}


.select_four{
    margin-top: 2rem;
}
.constructor_center{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.constructor_center_img{
    position: relative;
    background-color: #fff;
    border-radius: var(--radius_5);

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    width: 400px;
    height: 400px;
    overflow: hidden;

}
.left-wall{
    display: none;
}
.right-wall{
    display: none;
}
.back-wall{
    display: none;
}
.constructor_center_img.left{
    .left-wall{
        display: block;
        position: absolute;
        top: 145px;
        left: -129px;
        background-image: url("../img/constructor/st-left.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: 131px;
    }
}
.constructor_center_img.right{
    .right-wall{
        display: block;
        position: absolute;
        top: 145px;
        right: -129px;
        background-image: url("../img/constructor/st-right.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: 131px;
    }
}
.constructor_center_img.back{
    .back-wall{
        display: block;
        position: absolute;
        top: 145px;
        left: 0;
        background-image: url("../img/constructor/st-back.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: 118px;
    }
}
.constructor_center_img.right{}
.constructor_center_img.back{}
.constructor_center_img.polka{}





.constructor_center_img img{
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: contain;
}

.ben_item{
    margin-bottom: 1rem;
    padding-left: 3rem;
    position: relative;
    color: var(--white);
}
.ben_item_number{
    position: absolute;
    left: 0;
    top: 0;
    color: var(--accent-color);
    font-size: 24px;
}
.ben_item_title{
    font-size: 24px;
    font-weight: 400;
}
.ben_item_text{}

.const_contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.const_contact input{
    width: 270px;
    height: 50px;
    background-color: transparent;
    border-radius: var(--radius_5);
    padding: 0.5rem;
    outline: none;
    border: 1px solid var(--white);
    color: white;
    margin-bottom: 1rem;
}
.const_contact button{
    outline: none;
    border: none;
}

.agree, .agree a{
    font-size: 12px;
    margin-top: 1rem;
    color: var(--text-gray);

}

/*popups*/
.popup{
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 600;
    background-color: rgba(0,0,0, .7);

}
.popup_block{
    width: 555px;
    background-color: var(--primary-color);
    padding: 2rem;
    border-radius: var(--radius_5);

}

.popup_form{}
.popup_cross{
    display: flex;
    justify-content: end;
}
.popup_cross img{
    cursor: pointer;
}


.faq-popup{

}
.faq-popup_block{
    max-width: 785px;
    background-color: var(--primary-color);
    color: var(--white);
    padding: 2rem;
    border-radius: var(--radius_5);
}
.faq-popup_cross{
    display: flex;
    justify-content: end;
}
.faq-popup_cross img{
    cursor: pointer;
}
.faq-questions_block{
    margin-top: 2rem;
}
.faq-questions_item{
    border-bottom: 1px solid var(--text-gray);
    padding: 1rem 0;
}
.faq-questions_item:last-child{
    border-bottom: none;
}
.faq-questions_title{
    font-weight: 500;
}
.faq-questions_text{
    font-weight: 400;
    margin-top: 1rem;
}



/* тестируем */
